<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="./libs/bootstrap/css/bootstrap.css">
    <link rel='stylesheet' type="text/css" href='./style.css'/>
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Lato: 300">
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Great+Vibes">
    <script type="text/javascript" src="./libs/jquery-1.11.1.min.js"></script>
    <script src="./libs/jquery-ui.min.js"></script>
    <script src="./libs/bootstrap/js/bootstrap.min.js"></script>
    <script src='./javascripts/script.js'></script>
    <script src='./javascripts/eventsScript.js'></script>    

</head>
<body>
  <nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/home">SHIRE</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><a href="/history">HISTORY</a></li>
          <li><a href="/people">HOBBITS</a></li>
          <li><a href="/events">EVENTS</a></li>
          <li class="dropdown" id="dropdownRAYRAY">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">OTHER</a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="/photos">PHOTOS</a></li>
              <li><a href="/movies">MOVIES</a></li>
              <li><a href="/balls">BALLS</a></li>
            </ul>
          </li>
        </ul>
        <form class="navbar-form navbar-left" role="search">
        </form>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/login">LOGIN</a></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
  <div class="backofnav"></div>

<div class="welcome">
  <p>Events</p>
</div>
<% for (i in events){%>
<div class="event-outer">
  <h2 class="event-title"><%=events[i].title%></h2>
  <h4 class="event-description"><%=events[i].description%></h4>
  <form class="delete-event-form" action="events/deleteEvent" method="post">
  <input type="hidden" name="title" value="<%=events[i].title%>">
  <input class="mySubmit" id="event-delete" type="submit" value="Delete" /> 
  </form>
  <div class="event-table-outer">
    <div class="event-info">
      <p class="eventWhere">Event Where: <%=events[i].eventWhere%></p>
      <p class="event-when">Event When: <%=events[i].eventWhen%></p>
    </div>
    <div class="meet-info">
      <p class="meet-where">Meet Where: <%=events[i].meetWhere%></p>
      <p class="meet-when">Meet When: <%=events[i].meetWhen%></p>
    </div>
  </div>
</div>
<%}%>


<div id="event-all">
</div>

<div class="add-event">
  <form id="add-event-form" action="events/add_event" method="post"> 
    <label>Title</label>
    <input type="text" name="title" /> 
    <label>Description</label>
    <input class="userInput" type="text" name="description"/> 
    <label>Event Where</label>
    <input class="userInput" type="text" name="eventWhere"/>
    <label>Event When</label>
    <input class="userInput" type="text" name="eventWhen"/> 
    <label>Meeting Where</label>
    <input class="userInput" type="text" name="meetWhere"/> 
    <label>Meeting When</label>
    <input class="userInput" type="text" name="meetWhen"/> 
    <input class="mySubmit" type="submit" value="Add Event" /> 
  </form>
</div>
    
</body>
</html>